In [5]:
########## A Quick Tour of Python Language Syntax
# set the midpoint
midpoint = 5

# make two empty lists
lower = []; upper = []

# split the numbers into lower and upper
for i in range(10):
    if (i < midpoint):
        lower.append(i)
    else:
        upper.append(i)
        
print("lower:", lower)
print("upper:", upper)

lower: [0, 1, 2, 3, 4]
upper: [5, 6, 7, 8, 9]

In [8]:
############ Basic Python Semantics: Variables and Objects
# assign 4 to the variable x
x = 4
x = 1         # x is an integer
x = 'hello'   # now x is a string
x = [1, 2, 3] # now x is a list

In [10]:
x = [1, 2, 3]
y = x
print(y)
x.append(4) # append 4 to the list pointed to by x
print(y) # y's list is modified as well!

[1, 2, 3]
[1, 2, 3, 4]

In [12]:
x = 'something else'
print(y)  # y is unchanged
x = 10
y = x
x += 5  # add 5 to x's value, and assign it to x
print("x =", x)
print("y =", y)

[1, 2, 3, 4]
x = 15
y = 10

In [17]:
#Everything is an object
x = 4
type(x)

int

In [16]:
x = 'hello'
type(x)

str

In [18]:
x = 3.14159
type(x)

float

In [19]:
L = [1, 2, 3]
L.append(100)
print(L)

[1, 2, 3, 100]

In [20]:
x = 4.5
print(x.real, "+", x.imag, 'i')

4.5 + 0.0 i

In [21]:
x = 4.5
x.is_integer()

False

In [22]:
x = 4.0
x.is_integer()

True

In [23]:
type(x.is_integer)

builtin_function_or_method

In [25]:
type(x.is_integer())

bool

In [27]:
####### Basic Python Semantics: Operators
# addition, subtraction, multiplication
(4 + 8) * (6.5 - 3)

42.0

In [29]:
# True division
print(11 / 2)

5.5

In [30]:
# Floor division
print(11 // 2)

5

In [41]:
bin(10)

'0b1010'

In [42]:

bin(4)

'0b100'

In [43]:
4 | 10

14

In [44]:
bin(4 | 10)

'0b1110'

In [45]:
a = 24
print(a)

24

In [46]:
a + 2

26

In [47]:
a += 2  # equivalent to a = a + 2
print(a)

26

In [48]:
# 25 is odd
25 % 2 == 1

True

In [49]:
# 66 is odd
66 % 2 == 1

False

In [50]:
# check if a is between 15 and 30
a = 25
15 < a < 30

True

In [51]:
-1 == ~0

True

In [52]:
x = 4
(x < 6) and (x > 2)

True

In [53]:
not (x < 6)

False

In [54]:
# (x > 1) xor (x < 10)
(x > 1) != (x < 10)

False

In [55]:
a = [1, 2, 3]
b = [1, 2, 3]

In [56]:
a == b

True

In [57]:
a is b

False

In [58]:
a is not b

True

In [59]:
a = [1, 2, 3]
b = a
a is b

True

In [60]:
1 in [1, 2, 3]

True

In [61]:
2 not in [1, 2, 3]

False

In [62]:
##########Built-In Types: Simple Values
x = 1
type(x)

int

In [63]:
2 ** 200

1606938044258990275541962092341162602522202993782792835301376

In [64]:
5 / 2

2.5

In [65]:
# Python 2 behavior
>>> 5 / 2
2

2

In [67]:
# floor-division operator
5 // 2

2

In [68]:
x = 0.000005
y = 5e-6
print(x == y)

True

In [69]:
x = 1400000.00
y = 1.4e6
print(x == y)

True

In [70]:
float(1)

1.0

In [71]:
0.1 + 0.2 == 0.3

False

In [73]:
print("0.1 = {0:.17f}".format(0.1))
print("0.2 = {0:.17f}".format(0.2))
print("0.3 = {0:.17f}".format(0.3))

0.1 = 0.10000000000000001
0.2 = 0.20000000000000001
0.3 = 0.29999999999999999

In [74]:
complex(1, 2)

(1+2j)

In [75]:
c = 3 + 4j

In [76]:
c.real  # real part

3.0

In [77]:
c.imag  # imaginary part

4.0

In [78]:
c.conjugate()  # complex conjugate

(3-4j)

In [79]:
abs(c)  # magnitude, i.e. sqrt(c.real ** 2 + c.imag ** 2)

5.0

In [80]:
message = "what do you like?"
response = 'spam'

In [81]:
# length of string
len(response)

4

In [82]:
# Make upper-case. See also str.lower()
response.upper()

'SPAM'

In [83]:
# Capitalize. See also str.title()
message.capitalize()

'What do you like?'

In [84]:
# concatenation with +
message + response

'what do you like?spam'

In [85]:
# multiplication is multiple concatenation
5 * response

'spamspamspamspamspam'

In [86]:
# Access individual characters (zero-based indexing)
message[0]

'w'

In [87]:
type(None)

NoneType

In [88]:
return_value = print('abc')

abc

In [89]:
print(return_value)

None

In [90]:
result = (4 < 5)
result

True

In [91]:
type(result)

bool

In [92]:
print(True, False)

True False

In [93]:
bool(2014)

True

In [94]:
bool(0)

False

In [95]:
bool(3.1415)

True

In [96]:
bool(None)

False

In [97]:
bool("")

False

In [98]:
bool("abc")

True

In [99]:
bool([1, 2, 3])

True

In [100]:
bool([])

False

In [101]:
###################Built-In Data Structures
L = [2, 3, 5, 7]
# Length of a list
len(L)

4

In [102]:
# Append a value to the end
L.append(11)
L

[2, 3, 5, 7, 11]

In [104]:
# Addition concatenates lists
L + [13, 17, 19]

[2, 3, 5, 7, 11, 13, 17, 19]

In [105]:
# sort() method sorts in-place
L = [2, 5, 1, 6, 3, 4]
L.sort()
L

[1, 2, 3, 4, 5, 6]

In [106]:
L = [1, 'two', 3.14, [0, 3, 5]]

In [108]:
#List indexing and slicing
L = [2, 3, 5, 7, 11]

In [109]:
L[0]

2

In [110]:
L[1]

3

In [111]:
L[-1]

11

In [112]:
L[-2]

7

In [113]:
L[0:3]

[2, 3, 5]

In [114]:
L[:3]

[2, 3, 5]

In [115]:
L[-3:]

[5, 7, 11]

In [116]:
L[::2]  # equivalent to L[0:len(L):2]

[2, 5, 11]

In [117]:
L[::-1]

[11, 7, 5, 3, 2]

In [118]:
L[0] = 100
print(L)

[100, 3, 5, 7, 11]

In [119]:
L[1:3] = [55, 56]
print(L)

[100, 55, 56, 7, 11]

In [120]:
t = (1, 2, 3)

In [121]:
t = 1, 2, 3
print(t)

(1, 2, 3)

In [122]:
len(t)

3

In [123]:
t[0]

1

In [124]:
#The main distinguishing feature of tuples is that they are immutable: 
#this means that once they are created, their size and contents cannot be changed:
t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [125]:
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [126]:
# Tuples are often used in a Python program; 
# a particularly common case is in functions that have multiple return values. 
# For example, the as_integer_ratio() method of floating-point objects returns 
# a numerator and a denominator; this dual return value comes in the form of a tuple:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [127]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

In [128]:
numbers = {'one':1, 'two':2, 'three':3}

In [129]:
numbers['two']

2

In [130]:
numbers['ninety'] = 90
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'ninety': 90}

In [131]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

In [132]:
# union: items appearing in either
primes | odds      # with an operator
primes.union(odds) # equivalently with a method

{1, 2, 3, 5, 7, 9}

In [133]:
# intersection: items appearing in both
primes & odds             # with an operator
primes.intersection(odds) # equivalently with a method

{3, 5, 7}

In [134]:
# difference: items in primes but not in odds
primes - odds           # with an operator
primes.difference(odds) # equivalently with a method

{2}

In [1]:
# difference: items in primes but not in odds
odds - prime           # with an operator
primes.difference(odds) # equivalently with a method

NameError: name 'odds' is not defined

In [2]:
# symmetric difference: items appearing in only one set
primes ^ odds                     # with an operator
primes.symmetric_difference(odds) # equivalently with a method

NameError: name 'primes' is not defined